<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit()" #addForm="ngForm">
      <div class="row">
        <div class="col-md-2">
          <h4>Unit name:</h4>
        </div>
        <div class="col-md-10">
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Unit name"
            ngModel
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h4>Details:</h4>
        </div>
        <div class="col-md-10">
          <input
            type="text"
            class="form-control"
            name="details"
            placeholder="Some details..."
            ngModel
            required
          />
        </div>
      </div>
      <div class="row" *ngIf="!unitAddingStatus && submitted">
        <div class="col-md-12">
          <div class="alert alert-danger">
            <h4>Sorry, try again!</h4>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="unitAddingStatus && submitted">
        <div class="col-md-12">
          <div class="alert alert-success">
            <h4>Unit added successfully!</h4>
          </div>
        </div>
      </div>
      <button class="btn btn-danger" type="submit" [disabled]="addForm.invalid">
        Save unit
      </button>
    </form>
  </div>
</div>
