<div class="row" *ngIf="foundContract">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h3>Contract details</h3>
        <h4>
          Month price:
          <span class="price">{{ foundContract.monthPrice }}</span> QAR
        </h4>
        <h4>
          Required months:
          <span class="price">{{ foundContract.numOfMonths }}</span> Months
        </h4>
        <h4>
          Total amount:
          <span class="price">{{
            foundContract.monthPrice * foundContract.numOfMonths
          }}</span>
          QAR
        </h4>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="!foundContract">
  <div class="col-md-12">
    <div class="alert alert-danger">
      <h4>No contract found for this unit! an error happened!</h4>
    </div>
  </div>
</div>
