.total {
  background-color: #09f;
  text-align: center;
}
.paid {
  background-color: chartreuse;
  text-align: center;
}
.remaining {
  background-color: crimson;
  color: white;
  text-align: center;
}
.add-margin {
  margin: 20px 0;
}
.title {
  text-align: center;
}
.cus-details {
  font-size: 18px;
  text-align: center;
  background-color: lightyellow;
  border: 1px dashed #666;
}
