<div class="row">
  <div class="col-md-12">
    <h2 class="title">Financial Report</h2>
  </div>
</div>
<div class="row cus-details">
  <div class="col-md-12">
    <h3>Name: {{ customer.name }}</h3>
    <h3>Phone: {{ customer.phone }}</h3>
    <h3>Qatar ID: {{ customer.qId }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4 remaining">
        <h4>Remaining</h4>
        <h4>{{ totalRemaining }} QAR</h4>
      </div>
      <div class="col-md-4 paid">
        <h4>Paid</h4>
        <h4>{{ totalPaid }} QAR</h4>
      </div>
      <div class="col-md-4 total">
        <h4>Total of contract</h4>
        <h4>{{ totalContract }} QAR</h4>
      </div>
    </div>
    <div class="row add-margin">
      <div class="col-md-4">
        <button class="btn btn-primary" (click)="onAddPayment()">
          Add payment
        </button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" (click)="onViewPayments()">
          View payments
        </button>
      </div>
    </div>
    <div class="row add-margin">
      <div class="col-md-12">
        <app-add-payment
          *ngIf="paymentClicked && !viewPaymentsClicked"
        ></app-add-payment>
      </div>
    </div>
    <div class="row add-margin">
      <div class="col-md-12">
        <app-view-payments
          [contractId]="contract.id"
          [totalPaid]="totalPaid"
          *ngIf="!paymentClicked && viewPaymentsClicked"
        ></app-view-payments>
      </div>
    </div>
  </div>
</div>
