<div class="row">
  <div class="col-md-12">
    <h1>Total remaining: {{ totalRemaining }} QAR.</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Are you sure that you want to terminate this contract?</h1>
    <button
      class="btn btn-danger"
      (click)="onConfirm()"
      [disabled]="inProgress"
    >
      Confim
    </button>
    <button class="btn btn-success" [disabled]="inProgress">Cancel</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12" *ngIf="endStatus">
    <div class="alert alert-success">
      <h4>Contract terminated successfully!</h4>
    </div>
  </div>
  <div class="col-md-12" *ngIf="!endStatus && !inProgress && submitted">
    <div class="alert alert-danger">
      <h4>Error happened, try again!</h4>
    </div>
  </div>
</div>
